body {
  font-family: "Roboto", "Relaway", sans-serif;
  color: #212121;
  width: 1600px;
  margin: 0 auto;
}
:root {
  --web-color: #2196f3;
  --link-color: #212121;
  --baner-color: #2f303a;
  --transparent: transparent;
}
img {
  display: block;
}

header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 24px;
}

.box-header {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
* {
  padding: 0;
  margin: 0;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.color-logo-blue {
  color: var(--web-color);
}
.color-logo-white {
  color: #ffffff;
}

.navigation:hover,
.navigation:focus,
.navigation:active,
.contact-footer:hover,
.contact-footer:focus,
.contact-footer:active
/*.contact:hover,
.contact:focus,
.contact:active*/ {
  color: var(--web-color);
}

.nav-ul-style {
  list-style: none;
  display: flex;

  padding-inline-start: 0px;
}
.nav-ul-style-li {
  margin-left: 93px;
}
.nav-ul-style-li:not(:first-child) {
  margin-left: 46px;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--link-color);
}

.ul-contact {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 345px;
  padding-left: 0px;
}
.icon-contact:first-child {
  margin-left: 0px;
}
.icon-contact:last-child {
  margin-left: 50px;
}
/*.ul-contact-li:first-child {
  margin-left: 0px;
}
.ul-contact-li:last-child {
  margin-left: 30px;
}*/
.contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  gap: 10px;
  fill: #757575;
  color: #757575;
}
.index-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index-section1 {
  padding: 200px 0;
  max-width: 1600px;
  background: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Baner.jpg);
}
/*.index-section1:first-child {
  background: #2f303a;
  padding: 200px 0;
}
.index-section:nth-child(1) {
  flex-direction: column;
  background: #757575;
  padding: 200px 0;
}*/
.index-section-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.index-section-button {
  background: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 9px 40px 9px 40px;
}
.index-section-button:hover,
.index-section-button:focus,
.index-section-button:active {
  background-color: var(--web-color);
  cursor: pointer;
}
.index-section2-ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.index-section2-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.index-section2-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 10px 0px 0px 0px;
}
.index-section2-2 {
  padding-top: 0px;
}
.index-section2-2-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.index-section2-2-div {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 30px;
}
.index-section3 {
  background: #f5f4fa;
}
.index-section3-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.index-section3-div {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 30px;
}
.index-section3-figure {
  background-color: #ffffff;
  width: 270px;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.index-section3-figcaption {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.index-section3-figcaption-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.index-section3-figcaption-p {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.index-section4-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  margin-bottom: 50px;
}
.footer {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.address-footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-top: 9px;
}
.portfolio-section {
  display: flex;
  padding-top: 56px;
  flex-direction: column;
}
.portfolio-button-ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio-button-ul-li:not(:first-child) {
  margin-left: 10px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 4px 22px;
  border: none;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--web-color);
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-img-figure:hover,
.portfolio-img-figure:hover .overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transform: translateY(0);
}
.portfolio-img-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.portfolio-section:nth-child(3) {
  display: flex;
}
.portfolio-img-figcaption {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-img-figcaption-h4 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.portfolio-img-figcaption-p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
.icon-contact {
  display: flex;
  align-items: center;
}
.contact:hover,
.contact:focus,
.contact:active {
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
}

.icon-atuty-container {
  display: inline-flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px;
}
.icon-atuty {
  fill: #212121;
}
.icon-atuty:hover,
.icon-atuty:focus {
  fill: #2196f3;
}
.social-links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.social-ellipse {
  display: flex;
}
.social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
  display: inline-block;
  margin-top: 16px;
}
.social-link:hover,
.social-link:focus {
  fill: white;
  background: #2196f3;
  border-radius: 50%;
}
.index-section4 {
  display: flex;
}
.client-links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.client-link {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: inline-block;
}
.client-link:hover,
.client-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.main-page-social {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  width: 206px;
  height: 80px;
}
.footer-block {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 70px;
}
.footer-main-page-h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #ffffff;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity, transform;
  transition-duration: 2s;
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  z-index: 1;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translate(0%, 0%) scale(0) rotate(0deg);
}
.is-active {
  position: relative;
  color: #2196f3;
}
.is-active::after {
  content: "";
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  display: block;
}
.modal-button-close {
  flex-direction: row;
  position: absolute;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 5px 5px;
  border-radius: 100%;
}
.modal-button-close:hover,
.modal-button-close:focus {
  fill: #2196f3;
  stroke: #2196f3;
  stroke-width: 2px;
  border-color: #2196f3;
  border: 2px solid #2196f3;
  cursor: pointer;
}
.box-overlay {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;

  background: transparent;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
