body {
  font-family: "Roboto", "Relaway", sans-serif;
  color: #212121;
  width: 1600px;
  margin: 0 auto;
}
:root {
  --web-color: #2196f3;
  --link-color: #212121;
}
img {
  display: block;
}

header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 24px;
}

.box-header {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
* {
  padding: 0;
  margin: 0;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.color-logo-blue {
  color: var(--web-color);
}
.color-logo-white {
  color: #ffffff;
}

.navigation:hover,
.navigation:focus,
.navigation:active,
.contact-footer:hover,
.contact-footer:focus,
.contact-footer:active,
.contact:hover,
.contact:focus,
.contact:active {
  color: var(--web-color);
}

.nav-ul-style {
  list-style: none;
  display: flex;
  margin-top: 8px;
  padding-inline-start: 0px;
}
.nav-ul-style-li {
  margin-left: 93px;
}
.nav-ul-style-li:not(:first-child) {
  margin-left: 46px;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--link-color);
}

.ul-contact {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 371px;
  padding-left: 0px;
  margin-top: 8px;
}
.ul-contact-li:first-child {
  margin-left: 0px;
}
.ul-contact-li:last-child {
  margin-left: 70px;
}
.contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.index-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index-section1 {
  background: #2f303a;
  padding: 200px 0;
}
/*.index-section1:first-child {
  background: #2f303a;
  padding: 200px 0;
}
.index-section:nth-child(1) {
  flex-direction: column;
  background: #757575;
  padding: 200px 0;
}*/
.index-section-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.index-section-button {
  background: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 9px 40px 9px 40px;
}
.index-section-button:hover,
.index-section-button:focus,
.index-section-button:active {
  background-color: var(--web-color);
  cursor: pointer;
}
.index-section2-ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.index-section2-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.index-section2-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 10px 0px 0px 0px;
}
.index-section2-2 {
  padding-top: 0px;
}
.index-section2-2-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.index-section2-2-div {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 30px;
}
.index-section3 {
  background: #f5f4fa;
}
.index-section3-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.index-section3-div {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 30px;
}
.index-section3-figure {
  background-color: #ffffff;
  width: 270px;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.index-section3-figcaption {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.index-section3-figcaption-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.index-section3-figcaption-p {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.footer {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.address-footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-top: 9px;
}
.portfolio-section {
  display: flex;
  padding-top: 56px;
  flex-direction: column;
}
.portfolio-button-ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio-button-ul-li:not(:first-child) {
  margin-left: 10px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 4px 22px;
  border: none;
  border-radius: 4px;
}

.portfolio-button:active,
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--web-color);
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-img-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.portfolio-section:nth-child(3) {
  display: flex;
}
.portfolio-img-figcaption {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-img-figcaption-h4 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.portfolio-img-figcaption-p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
