@use "./utils/variables" as *;
@import "./components/global";
@import "./components/body";
@import "./components/container";
@import "./components/navigation";
@import "./components/logo";
@import "./components/contact";
@import "./components/section5";
@import "./components/section";
@import "./components/section1";
@import "./components/section2";
@import "./components/section3";
@import "./components/section4";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/footer";
@import "./components/address";
@import "./components/main-page";
@import "./components/social-link";
@import "./components/newsletter";
@import "./components/header";
@import "./components/portfolio-section";
@import "./components/portfolio-img";
