body {
  font-family: $defoultFont-family;
  color: $link-color;
  width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 1600px;
  }
}
