.contact {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 345px;
  padding-left: 0px;

  &__text {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    gap: 10px;
    fill: $label-color;
    color: $label-color;

    &:focus,
    &:active,
    &:hover {
      fill: $web-color;
      color: $web-color;
      cursor: pointer;
      transition: $defoultTransition;
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-left: 50px;
    }
  }
}
