.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .container {
    margin: auto;
    /*justify-content: space-between;*/
  }
}
@media screen and (min-width: 1200px) {
  .container {
    display: block;
    width: 1200px;
    margin: auto;
  }
}
