.footer {
  background-color: $baner-color;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;

  &--main-page-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    width: 206px;
    height: 80px;
  }

  &--newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    color: $white-color;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
  &__div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: normal;
    }
    &--main-page-social {
      margin-top: 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__div {
      display: flex;
      align-items: normal;
    }
    &--main-page-social {
      display: flex;
      align-items: normal;
      margin-top: 12px;
    }
    &--newsletter {
      display: flex;
      align-items: normal;
    }
  }
}
