.footer {
  background-color: $baner-color;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;

  &__block {
    display: flex;
    flex-direction: row;
    color: $white-color;
    gap: 70px;
  }
}
