header {
  border-bottom: 1px solid $headerborder-color;
  padding-top: 25px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
