.header-box {
  display: flex;
  align-items: center;

  justify-content: space-evenly;

  &__navigation {
    display: none;
  }

  &__contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-box {
    &__navigation {
      list-style: none;
      display: flex;
      padding-inline-start: 0px;
      gap: 60px;

      &:first-child {
        margin-left: 83px;
      }
    }

    &__list {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: $link-color;

      &:focus,
      &:active,
      &:hover {
        color: $web-color;
        transition: $defoultTransition;
      }

      &--is-active {
        position: relative;
        color: $web-color;

        &::after {
          content: "";
          position: absolute;
          background: $web-color;
          border-radius: 2px;
          width: 100%;
          height: 4px;
          margin-top: 28px;
          display: block;
        }
      }
    }

    &__contact {
      list-style: none;
      display: flex;
      flex-direction: column;

      justify-content: flex-end;

      margin-left: 101px;
      padding-left: 0px;
      gap: 10px;

      &__text {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        text-decoration: none;

        letter-spacing: 0.02em;
        gap: 10px;
        fill: $label-color;
        color: $label-color;

        &:focus,
        &:active,
        &:hover {
          fill: $web-color;
          color: $web-color;
          cursor: pointer;
          transition: $defoultTransition;
        }
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: start;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-box {
    &__navigation {
      list-style: none;
      display: flex;
      gap: 46px;

      &:first-child {
        margin-left: 93px;
      }
    }

    &__contact {
      flex-direction: row;
      margin-left: 345px;
      gap: 0px;

      &__text {
        font-size: 14px;
        line-height: 1.14;

        &__svg--mail {
          width: 16px;
          height: 12px;
        }

        &__svg--tel {
          width: 10px;
          height: 16px;
        }
      }

      &__icon {
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          margin-left: 30px;
        }
      }
    }
  }
}
