.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  color: $black-color;

  &__blue-text {
    color: $web-color;
  }
  &__white-text {
    color: $white-color;
  }
}
