.menu {
  display: flex;
  padding: 40px;
  margin: 0;
  list-style: none;

  display: none;

  &__nav {
    padding: 0;
    margin: 0;
    list-style: none;

    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &:nth-child(n + 3) {
      margin-top: 302px;
    }
    &:nth-child(n + 4) {
      margin-top: 64px;
      flex-direction: row;
      gap: 10px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: $black-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $web-color;
    }

    &--is-active {
      color: $web-color;
    }
  }
  &__link-contact {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $web-color;
    &--mail {
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $label-color;
    }
    &:hover,
    &:focus,
    &:active {
      color: $web-color;
    }
  }

  &__link-social {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    letter-spacing: 0.02em;
    color: $web-color;
    text-decoration: none;

    &--linkedin {
      border-right: none;
    }
  }

  &__icon-close {
    margin-bottom: 8px;
    margin-left: 412px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      fill: $web-color;
      transition: $defoultTransition;
    }
  }

  &__toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 276px;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: $white-color;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  &__container.is-open {
    transform: translateX(0);
  }

  &__container &__toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    &__toggle {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    &__toggle {
      display: none;
    }
  }
}
