.modal-form {
  margin-top: 2px;

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $label-color;
    padding-top: 10px;

    &:focus-within,
    &:focus,
    &:hover {
      border-color: $web-color;
      fill: $web-color;
      border-radius: 4px;
      cursor: pointer;
      transition: $defoultTransition;
    }

    &--textarea {
      height: 120px;
      border: 1px solid $border-color;
      border-radius: 4px;
      padding: 12px 16px;
      margin-top: 4px;
      resize: none;

      &:focus,
      &:hover {
        border-color: $web-color;
        fill: $web-color;
        border-radius: 4px;
        cursor: pointer;
        transition: $defoultTransition;
      }
    }
  }

  &__input {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 42px;

    &:focus,
    &:hover {
      border-color: $web-color;
      fill: $web-color;
      border-radius: 4px;
      cursor: pointer;
      transition: $defoultTransition;
    }
  }

  &__icon {
    position: absolute;
    margin-left: 12px;
    margin-top: 29px;
  }

  &__send {
    position: relative;
    justify-content: center;
    width: 200px;
    height: 50px;
    bottom: 100%;
    background: $web-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $web-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;
    margin: 0 auto;
  }
}
