.navigation {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;

  &__list-style {
    margin-left: 93px;

    &:not(:first-child) {
      margin-left: 46px;
    }
  }
  &__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $link-color;

    &:focus,
    &:active,
    &:hover {
      color: $web-color;
      transition: $defoultTransition;
    }
  }
  &--is-active {
    position: relative;
    color: $web-color;

    &::after {
      content: "";
      position: absolute;
      background: $web-color;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      margin-top: 28px;
      display: block;
    }
  }
}
