.section2 {
  list-style: none;
  display: flex;
  gap: 30px;

  &__icon-atuty-container {
    display: inline-flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 30px;
  }
  &__h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $label-color;
    padding: 10px 0px 0px 0px;
  }
}
