.team {
  background: #f5f4fa;

  &__gallery {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  &__figure {
    background-color: $white-color;
    width: 270px;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__figcaption {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    &--profession {
      color: $label-color;
      margin-top: 10px;
    }
  }
}
