.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;

    &--clients {
      margin-bottom: 30px;
    }

    &--team {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      font-size: 36px;
      line-height: 1.16;

      &--clients {
        margin-bottom: 50px;
      }

      &--team {
        margin-bottom: 50px;
      }
    }
  }
}
