$defaultFontColor: #212121;
$defoultFont-family: "Roboto", "Relaway", sans-serif;
$web-color: #2196f3;
$link-color: #212121;
$baner-color: #2f303a;
$white-color: #ffffff;
$border-color: #21212133;
$border2-color: #eeeeee;
$label-color: #757575;
$black-color: #000000;
$socialLink-color: #afb1b8;
$button-color: #f5f4fa;
$headerborder-color: #ececec;
$defoultTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
